<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779839725684-hcm803le658rb1atv1up4v8qme7ceqjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779839725684-hcm803le658rb1atv1up4v8qme7ceqjh</string>
	<key>API_KEY</key>
	<string>AIzaSyBipcg_OaBMNpc8At4dCwTByY65HXWGZt0</string>
	<key>GCM_SENDER_ID</key>
	<string>779839725684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andresfelipenunez.co.EasyBuy</string>
	<key>PROJECT_ID</key>
	<string>easybuy-c21b6</string>
	<key>STORAGE_BUCKET</key>
	<string>easybuy-c21b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779839725684:ios:75babce973fa6691a1b121</string>
</dict>
</plist>