//
//  QA.xcconfig
//  EasyBuy
//
//  Created by Andres Felipe Nunez on 13/05/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIGURATION   = QA
BASE_URL        = https:/$()/api.mercadolibre.com
GOOGLE_FIREBASE_FILE = GoogleService-Info-Dev
